{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
<div class="book-detail">
    {% if book.cover %}
    <img class="bookcover" src="{{ book.cover.url}}" alt="{{ book.title }}">
    {% endif %}
    <h2>{{ book.title }}</a></h2>
    <p>Author: {{ book.author }}</p>
    <p>Price: {{ book.price }}$</p>
<div>
    
<h3>Add a Review</h3>
<form method="post" action="{% url 'add_review' book.id %}">
    {% csrf_token %}
    {{ review_form|crispy }}
    <button type="submit" class="btn btn-primary mb-4 rounded-pill ">Submit Review</button>
</form>

<h3>Reviews</h3>
<ul>
    {% for review in book.reviews.all %}
    <li>{{ review.author }} <br>{{ review.stars_display }} <br>{{ review.review }}</li>
    {% endfor %}
</ul>
</div>
</div>
{% endblock content %}
