h1 {
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bookcover {
    height: 300px;
    width: auto;
}


.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark {
    margin-bottom: 200px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 4px;
  }
  
  .card-img-top {
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px;
  }