h1 {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bookcover {
    height: 300px;
    width: auto;
}

.create-book-btn {
    margin-bottom: 100px; 
}